.git
.gitignore
.gradle
build
out
.idea
*.iml
*.iws
*.ipr
.vscode
.settings
.classpath
.project
.github
personal
tasks
.omc
.claude
*.md
uploads
tailwindcss
tailwindcss.exe
tailwindcss-*
src/main/resources/application-secret.properties
.env
